
@{
    ViewBag.Title = "Assigning a course to a Professor";

}

<html>
<head>

</head>
<body>
    <form action="AssigningCourse" method="post">

        <div>
            <h1 id="but1">Assigning a course to a Professor! </h1> <br /> <br />
        </div>
        <div class="agile-field-txt">
            <label><i class="fa fa-user" aria-hidden="true"></i> Professor AFM: </label>
            <input type="number" name="AFM" placeholder="Enter Professor AFM" required="" />
        </div> <br />

        <div class="agile-field-txt">
            <label><i class="fa fa-user" aria-hidden="true"></i> Course title:</label>
            <input type="text" name="coursetitle" placeholder="Enter course title" required="" />
        </div> <br />


        <div>
            <input type="submit" value="Course assignment">
        </div>
        <br />
    </form>



    <div class="copy-wthree">
        <p>
            Created by Anastasis Kalligeros and Georgios Papakostas
            <span style="color:blue; "> &#8471; 2023 </span>

        </p>
    </div>
</body>
</html>