@{
    ViewBag.Title = "Course statement to a student";

}

<html>
<head>

</head>
<body>
    <form action="DeclarationCourse" method="post">

        <div>
            <h1 id="but1">Course statement to a student! </h1> <br /> <br />
        </div>
        <div class="agile-field-txt">
            <label><i class="fa fa-user" aria-hidden="true"></i> Registration Number: </label>
            <input type="number" name="regnum" placeholder="Enter your Registration Number" required="" />
        </div> <br />

        <div class="agile-field-txt">
            <label><i class="fa fa-user" aria-hidden="true"></i> Course title:</label>
            <input type="text" name="coursetitle" placeholder="Enter your course title" required="" />
        </div> <br />


        <div>
            <input type="submit" value="Course statement">
        </div> <br /> <br />

        <div class="copy-wthree">
            <p>
                Created by Anastasis Kalligeros and Georgios Papakostas
                <span style="color:blue; "> &#8471; 2023 </span>

            </p>
        </div>

    </form>
</body>
</html>