@{
    ViewBag.Title = "EntryCourse";
}
<html>
<head>
</head>
<body>


    <div>
        <h1 id="but1">Posting a grade per course! </h1>
    </div> <br /> <br />
    <form action="EntryCourse1" method="post">

        <div class="agile-field-txt">
            <label><i class="fa fa-user" aria-hidden="true"></i> Course title:</label>
            <input type="text" name="coursetitle" placeholder="Enter course title" required="" />
        </div> <br />

        <div class="agile-field-txt">
            <label><i class="fa fa-user" aria-hidden="true"></i> Registration Number: </label>
            <input type="number" name="registrationnumber" placeholder="Enter Registration Number" required="" />
        </div> <br />

        <div class="agile-field-txt">
            <label><i class="fa fa-user" aria-hidden="true"></i> Grade: </label>
            <input type="number" name="gradecoursestudent" placeholder="Enter grade" required="" />
        </div> <br /> 


        <input type="submit" value="Submit"> <br /> <br /> <br /> <br />





    </form>

    <div class="copy-wthree">
        <p>
            Created by Anastasis Kalligeros and Georgios Papakostas
            <span style="color:blue; "> &#8471; 2023 </span>

        </p>
    </div>

</body>
</html>
      