@{
    ViewBag.Title = "Error";

}
<h2>Error!</h2>
<br />
<br />
<form>

    <div class="agile-field-txt">
        <label><i class="fa fa-user" aria-hidden="true"></i> Something went wrong! Please press the button “Go back!” to try again.” </label>
        <input type="button" value="Go back!" onclick="history.go(-1); return false;">
    </div>
    <br /> <br /> <br /> <br /> <br />

    <div class="copy-wthree">
        <p>
            Created by Anastasios Kalligeros and Georgios Papakwstas
            <span style="color:blue; "> &#8471; 2023 </span>

        </p>
    </div>
</form>
