@{
    ViewBag.Title = "Registration";

}
<body>
    <h1> Register Professors </h1> <br /> <br />
    <div class="clear-loading spinner">
        <span></span>
    </div>
    <div class="w3ls-login box box--big">
        <!-- form starts here -->
        <form action="RegProfessor" method="post">

            <div class="agile-field-txt">
                <label><i class="fa fa-user" aria-hidden="true"></i> AFM: </label>
                <input type="number" name="AFM" placeholder="Enter your AFM" required="" />
            </div> <br />

            <div class="agile-field-txt">
                <label><i class="fa fa-user" aria-hidden="true"></i> Name: </label>
                <input type="text" name="Name" placeholder="Enter your name" required="" />
            </div> <br />

            <div class="agile-field-txt">
                <label><i class="fa fa-user" aria-hidden="true"></i> Surname: </label>
                <input type="text" name="Surname" placeholder="Enter your Surname" required="" />
            </div> <br />

            <div class="agile-field-txt">
                <label><i class="fa fa-user" aria-hidden="true"></i> Department: </label>
                <input type="text" name="Department" placeholder="Enter your Department" required="" />
            </div> <br />


            <div class="agile-field-txt">
                <label><i class="fa fa-user" aria-hidden="true"></i> Username: </label>
                <input type="text" name="username" placeholder="Enter your Username" required="" />
            </div> <br /> <br />



            <input type="submit" value="Register Professor"> <br /> <br />







        </form>
    </div>



    <h1> Register Student </h1> <br /> <br />
    <div class="clear-loading spinner">
        <span></span>
    </div>
    <div class="w3ls-login box box--big">
        <!-- form starts here -->
        <form action="RegStudent" method="post">

            <div class="agile-field-txt">
                <label><i class="fa fa-user" aria-hidden="true"></i> Registration Number: </label> 
                <input type="number" name="regnum" placeholder="Enter your Registration Number" required="" />
            </div> <br />

            <div class="agile-field-txt">
                <label><i class="fa fa-user" aria-hidden="true"></i> Name: </label> 
                <input type="text" name="Name" placeholder="Enter your name" required="" />
            </div> <br />

            <div class="agile-field-txt">
                <label><i class="fa fa-user" aria-hidden="true"></i> Surname: </label> 
                <input type="text" name="surname" placeholder="Enter your Surname" required="" />
            </div><br />

            <div class="agile-field-txt">
                <label><i class="fa fa-user" aria-hidden="true"></i> Department: </label> 
                <input type="text" name="department" placeholder="Enter your Department" required="" />
            </div> <br />


            <div class="agile-field-txt">
                <label><i class="fa fa-user" aria-hidden="true"></i> Username: </label>
                <input type="text" name="username" placeholder="Enter your Username" required="" />
            </div> <br /> <br />



            <input type="submit" value="Register Student"> <br /> <br />







        </form>
    </div>





    <h1> Register courses </h1> <br /> <br />
    <div class="clear-loading spinner">
        <span></span>
    </div>
    <div class="w3ls-login box box--big">
        <!-- form starts here -->
        <form action="RegCourse" method="post">

            <div class="agile-field-txt">
                <label><i class="fa fa-user" aria-hidden="true"></i> Course id: </label>
                <input type="number" name="idcourse" placeholder="Enter your course id" required="" />
            </div> <br />

            <div class="agile-field-txt">
                <label><i class="fa fa-user" aria-hidden="true"></i> Course title:</label>
                <input type="text" name="coursetitle" placeholder="Enter your course title" required="" />
            </div> <br />

            <div class="agile-field-txt">
                <label><i class="fa fa-user" aria-hidden="true"></i> Course semester: </label>
                <input type="number" name="coursesemester" placeholder="Enter your Course Semester" required="" />
            </div> <br />

            <div class="agile-field-txt">
                <label><i class="fa fa-user" aria-hidden="true"></i> Professor AFM: </label>
                <input type="text" name="professorsAFM" placeholder="Enter your professor AFM" required="" />
            </div> <br />  <br />


            <input type="submit" value="Register Course"> <br /> <br /> <br /> <br />







        </form>
    </div>
    <!-- //form ends here -->
    
    <div class="copy-wthree">
        <p>
            Created by Anastasis Kalligeros and Georgios Papakostas
            <span style="color:blue; "> &#8471; 2023 </span>

        </p>
    </div>










</body>